parameters:
	ignoreErrors:
		- '#Call to an undefined static method [a-zA-Z0-9\\_]+::select\(\)#'
		- '#Call to an undefined static method [a-zA-Z0-9\\_]+::create\(\)#'
		- '#Call to an undefined static method [a-zA-Z0-9\\_]+::where\(\)#'
		- '#Call to an undefined method [a-zA-Z0-9\\_]+::assertInertia\(\)#'
